@font-face {
    font-family: 'Gravitation Falls';
    src: url('../fonts/gravitation_falls.otf') format('opentype'), url('../fonts/gravitation_falls.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}